       containetr{
        text-align: center;
               border:1px solid;
                display:  flex;
                
       }
        .card{

            color:green;
            background-color: aquamarine; 
            padding: 15px;
            width: 200px;
            border: 1px solid;
        }
                img{
                width:150px;
                height: 90px;
                align-items: center;
        }

