        header {
            justify-content: space-between;
            align-items: center;
            background-color:rgb(138, 31, 138);
            display: flex;

        }
        .texts{
          
            justify-content: space-between;
            align-items: center;
padding-right: 30%;
gap: 200px;
        }
    