


.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    

    
}
.CARD {
    border: 1px solid;
    height: "100px";
    width: "50px";
    text-align: center;
    background-color: antiquewhite;
}


