/* body{
    height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
    perspective: 800px;
}
.container{
    height:200px;
    width: 200px;
    border: 2px solid;
    transform-style: preserve-3d;
    animation: cube 5s linear infinite;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNqaeDPEOYwVX65rUTkRmL07I73_3QdvQkfQ&s);
     

}
.cube{
    height: 200px;
    width: 200px;
    border: 2px solid;
    position: relative;
    transform-style: preserve-3d;
}
.slide{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 2px solid;
   
}
.front{
    transform: translateZ(150px);
    background-color: rgb(236, 224, 224);
    background-image: url();
}
.back{
    transform: translateZ(-150px);
    background-color: rgb(144, 144, 236);
}
.right{
    transform: translateX(150px) rotateY(90deg);
    background-color: rgba(237, 165, 107, 0.405);
}
.left{
    transform: translateX(-150px) rotateY(-90deg);
    background-color: rgba(226, 113, 113, 0.356);
}
@keyframes cube {
    100%{
        transform: rotateY(360deg);

    }
} */



body{
    
    height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
    perspective: 800PX;
}
.container{
    height:200px;
    width: 200px;
    border: 2px solid;
      transform-style: preserve-3d;
      animation: cube 5s linear infinite;

}
.cube{
    height:200px;
    width: 200px;
    border: 2px solid;
    position:relative;
    transform-style: preserve-3d;

}
.slide{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 2px solid;
    
    
}
.front{
 transform: translateZ(120PX);
 background-color: rgba(255, 127, 80, 0.763);

}
.back{
    transform:  translateZ(-120PX);
    background-color: rgba(6, 84, 84, 0.399);
    
}
.right{
    transform: translateX(120px) rotateY(90deg);
    background-color: rgba(25, 157, 18, 0.655);
    
}
.left{
    transform: translateX(-120px) rotateY(-90deg);;
    background-color: rgba(255, 255, 0, 0.867);
    
}

.top{
     transform: translateY(-120px) rotateX(90deg);;
    background-color: rgba(0, 255, 251, 0.799);
    
}
.bottom{
     transform: translateY(120px) rotateX(-90deg);;
    background-color: rgba(255, 0, 0, 0.764);
    
}


@keyframes cube {
    0%{
        transform: rotateX(45deg) rotateY(45deg);
    }
    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }

     50%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }

     75%{
        transform: rotateX(45deg) rotateY(-45deg);
    }

     100%{
        transform: rotateX(45deg) rotateY(45deg);
    }
    /* 100%{
        transform: rotateY(360deg);
    } */
}